.profile-img{
    height: 108px;
    width: 108px;
}
.studio-img{
    height: 144px;
    width: 144px;
}
.track-card{
    background-color: rgb(49, 64, 66);
}
.studio-img-h{
    height: 270px;
    width: 270px;
}
.studio-tack-img{
    height: 135px;
    width: 135px;
}
.studio-card{
    background-color: rgb(79, 76, 82);
}
.studio-song{
    background-color: rgb(47, 45, 49);
}
.img-studio{
    height: 54vh;
    width: fit-content;
}
.track-image{
    height: 126px;
    width: 126px;
}
.comment{
    background-color: rgb(79, 76, 82);
    border-radius: 2.7px;
}
.comment-img{
    height: 63px;
    width: 63px;
}
.small-img{
    height: 63px;
    width: 63px;
}
.signing-card{
    background-color: rgb(79, 76, 82);
}
.xs-img{
    height: 45px;
    width: 45px;
}
